.git
**/.git
.gitignore

node_modules
**/node_modules

dist
**/dist
build
**/build
out
**/out

.cache
**/.cache
.next
**/.next
.nuxt
**/.nuxt
coverage
**/coverage
tmp
**/tmp

*.log
.env
.env.*

Dockerfile
docker-compose.yml
